<!DOCTYPE html>
<html>
  <head>
    <title>CourseCatalog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="card text-center">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link active" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/courses">Course</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/subjects">Subject</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/instructors">Instructor</a>
          </li>
        </ul>
      </div>

    </div>
    <%= yield %>
  </body>
</html>
